* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad {
    height: 350px;
    width: 350px;
    background-color: darkred;
}

.div-son {
    height: 150px;
    width: 150px;
    background-color: darkblue;
}


.itachi {
    height: 100px;
    width: 100px;
    background-color: darkgreen;
}

